{% extends 'layout.html.twig' %}
{% block act5 %} active {% endblock %}

{% block title %}
  <h1>Detalles</h1>
{% endblock %}
{% block body %}
  <div class="portlet-body">
    <div id="sample_1_wrapper" class="dataTable_wrapper table-responsive">
      <div class="col-md-4">
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
          <tbody>
            <tr>
              <th>Nombre</th>
              <td>{{ persona.nombrePersona }}</td>
            </tr>
            <tr>
              <th>Teléfono</th>
              <td>{{ persona.telefonoPersona }}</td>
            </tr>
            <tr>
              <th>Direccion</th>
              <td>{{ persona.direccionPersona }}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ persona.emailPersona }}</td>
            </tr>
            <tr>
              <th>Bufete</th>
              <td>{{ persona.idBufete }}</td>
            </tr>
            <tr>
              <th>Usuario</th>
              <td>{{ persona.usuarioPersona }}</td>
            </tr>
            <tr>
              <th>Estado de Usuario</th>
              <td>
                {% if persona.estadoPersona %}Habilitado{% else %}Deshabilitado{% endif %}
              </td>
            </tr>
            <tr>
              <th>Tipo de Usuario</th>
              <td>{{ persona.role }}</td>
            </tr>
            {% if (persona.estudiantes != null) %}
              {% if (persona.role == "ROLE_ESTUDIANTE") %}
                <tr>
                  <th>Carné</th>
                  <td>{{persona.estudiantes.carneEstudiante}}</td>
                </tr>
                <tr>
                  <th>Cierre de Pensum</th>
                  <td>{{persona.estudiantes.cierrePensum}}</td>
                </tr>
              {% endif %}
            {% endif %}

          </tbody>
        </table>

        <table>
          <tr>

            {% if persona.role == "ROLE_ESTUDIANTE" %}
              <a href="{{ path('personas_indexEstudiantes') }}" class="btn default">Regresar</a>

            {% elseif persona.role == "ROLE_ASESOR" %}
              <a href="{{ path('personas_indexAsesores') }}" class="btn default">Regresar</a>
            {% endif %}
          </tr>
          <tr>
            {% if persona.role == "ROLE_ESTUDIANTE" %}
              <a href="{{ path('personas_editEstudiante', { 'idPersona': persona.idPersona }) }}" class="btn blue">Editar</a>

            {% elseif persona.role == "ROLE_ADMIN" or persona.role == "ROLE_SECRETARIO" or persona.role == "ROLE_DIRECTOR" or persona.role == "ROLE_ASESOR" %}
              <a href="{{ path('personas_editPersonal', { 'idPersona': persona.idPersona }) }}" class="btn blue">Editar</a>
            {% endif %}
            <tr></tr>
          </table>

        </div>
      </div>
    </div>
  {% endblock %}
