{% extends 'base.html.twig' %}

            {% block body %}
                <h1>Lista de Asesores</h1>

                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Email</th>
                            <th>Usuario</th>
                            <th>Tipo de Usuario</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for persona in asesores %}
                        <tr>

                            <td>{{ persona.nombrePersona }}</td>
                            <td>{{ persona.telefonoPersona }}</td>
                            <td>{{ persona.direccionPersona }}</td>
                            <td>{{ persona.emailPersona }}</td>
                            <td>{{ persona.usuarioPersona }}</td>
                            <td>{{ persona.role }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('personas_detalle', { 'idPersona': persona.idPersona }) }}">Más Detalles</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('personas_edit', { 'idPersona': persona.idPersona }) }}">Editar</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endblock %}
