{% extends 'base.html.twig' %}

{% block body %}

      <form action="registro">
        <label>BUSCAR ESTUDIANTE </label><br>
        <label>Carné: </label>
        <input type="text" id="carne" name="carne" value="{{carne}}"/>
        <input type="submit" value="buscar"/>
      </form>

<br>
<br>





  {{ form_start(form) }}
  <label>DATOS PERSONALES </label><br>
    {{ form_widget(form) }}



        <input type="submit" value="Create" />
  {{ form_end(form) }}



<ul>
    <li>
        <a href="{{ path('personas_index') }}">Back to the list</a>
    </li>
</ul>



{% endblock %}
