{% extends 'base.html.twig' %}

{% block body %}
    <h1>Persona</h1>

    <table>
        <tbody>
            <tr>
                <th>Idpersona</th>
                <td>{{ persona.idPersona }}</td>
            </tr>
            <tr>
                <th>Nombrepersona</th>
                <td>{{ persona.nombrePersona }}</td>
            </tr>
            <tr>
                <th>Telefonopersona</th>
                <td>{{ persona.telefonoPersona }}</td>
            </tr>
            <tr>
                <th>Direccionpersona</th>
                <td>{{ persona.direccionPersona }}</td>
            </tr>
            <tr>
                <th>Emailpersona</th>
                <td>{{ persona.emailPersona }}</td>
            </tr>
            <tr>
                <th>Usuariopersona</th>
                <td>{{ persona.usuarioPersona }}</td>
            </tr>
            <tr>
                <th>Passpersona</th>
                <td>{{ persona.passPersona }}</td>
            </tr>
            <tr>
                <th>Estadopersona</th>
                <td>{% if persona.estadoPersona %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ persona.role }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('personas_edit', { 'idPersona': persona.idPersona }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
