{% extends 'base.html.twig' %}

{% block body %}
    <h1>Casos laborales</h1>

    <table>
        <thead>
            <tr>
                <th>Nocaso</th>
                <th>Fechacaso</th>
                <th>Asunto</th>
                <th>Pruebascaso</th>
                <th>Asignatariocaso</th>
                <th>Estadocaso</th>
                <th>Nombredemandado</th>
                <th>Dirdemandado</th>
                <th>Dirnotificaciondemandado</th>
                <th>Telefonodemandado</th>
                <th>Otrodemandado</th>
                <th>Tipo caso</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for caso in casos %}
            <tr>
                <td>{{ caso.noCaso }}</td>
                <td>{% if caso.fechaCaso %}{{ caso.fechaCaso|date('Y-m-d') }}{% endif %}</td>
                <td>{{ caso.asunto }}</td>
                <td>{{ caso.pruebasCaso }}</td>
                <td>{{ caso.asignatarioCaso }}</td>
                <td>{{ caso.estadoCaso }}</td>
                <td>{{ caso.nombreDemandado }}</td>
                <td>{{ caso.dirDemandado }}</td>
                <td>{{ caso.dirnotificacionDemandado }}</td>
                <td>{{ caso.telefonoDemandado }}</td>
                <td>{{ caso.otroDemandado }}</td>
                <td>{{ caso.idTipo.idTipo}}</td>
                <td>
                    <ul>
                        <li>
                              <a href="{{ path('casos_showlaboral', { 'idCaso': caso.idCaso }) }}">Ver</a>
                        </li>
                        <li>
                              <a href="{{ path('casos_editlaboral', { 'idCaso': caso.idCaso }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('casos_newlaboral') }}">Crear caso laboral</a>
        </li>
    </ul>
{% endblock %}
