{% extends 'base.html.twig' %}

{% block body %}
    <h1>Caso Laboral</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('casos_indexlaborales') }}">Back to the list</a>
        </li>
    </ul>

    {% if mensaje != null %}
        <h4> {{ mensaje }} </h4>
    {% endif %}
{% endblock %}
