{% extends 'layout.html.twig' %}
      {% block title %}
        <h1>Ficha de Adjudicación de Casos Ramo Laboral</h1>
      {% endblock %}

{% block body %}

    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >

        {{ form_start(form,{'attr':{'role':'form'}}) }}
        <div class="form-body colorform">
          <div class="col-md-offset-2">
            <div class="row">
              <div class="col-md-3">
                {{form_label(form.fechaCaso,'Fecha')}}
                {{form_widget(form.fechaCaso,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-2">
                <b>Número de caso</b>
                {{form_widget(form.noCaso,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                {{form_label(form.asunto,'Asunto')}}
                {{form_widget(form.asunto,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-2">
                <label for=""><h4><b>Demandante</b></h4></label>
              </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                  {{form_widget(form.idDemandante,{'attr':{'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-2">
                <label for=""><h4><b>Datos del Proceso</b></h4></label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                {{form_label(form.laborales.fechaInicio,'Inicio de la Relación')}}
                {{form_widget(form.laborales.fechaInicio,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-2">
                {{form_label(form.laborales.fechaFin,'Fin de la Relación')}}
                {{form_widget(form.laborales.fechaFin,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                {{form_label(form.laborales.salario,'Salario Devengado')}}
                {{form_widget(form.laborales.salario,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-3">
                {{form_label(form.laborales.idTrabajo,' Tabajo Desempeñado')}}
                {{form_widget(form.laborales.idTrabajo,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-1">
                <label for=""><h4><b>Prestaciones que reclama</b></h4></label>
              </div>
            </div>
            <div class="col-md-offset-1">
              <div class="row">
                <div class="col-md-2">
                  <label class="cr-styled">
                      {{ form_widget(form.laborales.vaciones)}}
                      <i class="fa"></i>
                      {{form_label(form.laborales.vaciones,'Vacaciones')}}
                  </label>
                  </div>
                  <div class="col-md-2">
                    <label class="cr-styled">
                        {{ form_widget(form.laborales.diasasueto)}}
                        <i class="fa"></i>
                        {{form_label(form.laborales.diasasueto,'Dias de Asueto')}}
                    </label>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label class="cr-styled">
                      {{ form_widget(form.laborales.indemnizacion)}}
                      <i class="fa"></i>
                      {{form_label(form.laborales.indemnizacion,'Indemnización')}}
                  </label>
                  </div>
                  <div class="col-md-2">
                    <label class="cr-styled">
                        {{ form_widget(form.laborales.aguinaldo)}}
                        <i class="fa"></i>
                        {{form_label(form.laborales.aguinaldo,'Aguinaldo')}}
                    </label>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label class="cr-styled">
                      {{ form_widget(form.laborales.diaseptimos)}}
                      <i class="fa"></i>
                      {{form_label(form.laborales.diaseptimos,'Dias Septimos')}}
                  </label>
                  </div>
                  <div class="col-md-2">
                    <label class="cr-styled">
                        {{ form_widget(form.laborales.reajustesalarial)}}
                        <i class="fa"></i>
                        {{form_label(form.laborales.reajustesalarial,'Reajuste Salarial')}}
                    </label>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label class="cr-styled">
                      {{ form_widget(form.laborales.bonoanual)}}
                      <i class="fa"></i>
                      {{form_label(form.laborales.bonoanual,'Bono Anual')}}
                  </label>
                  </div>
                  <div class="col-md-2">
                    <label class="cr-styled">
                        {{ form_widget(form.laborales.salariosretenidos)}}
                        <i class="fa"></i>
                        {{form_label(form.laborales.salariosretenidos,'Salarios Retenidos')}}
                    </label>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label class="cr-styled">
                      {{ form_widget(form.laborales.horasextra)}}
                      <i class="fa"></i>
                      {{form_label(form.laborales.horasextra,'Horas Extraordinarias')}}
                  </label>
                  </div>
                  <div class="col-md-2">
                    <label class="cr-styled">
                        {{ form_widget(form.laborales.bonoincentivo)}}
                        <i class="fa"></i>
                        {{form_label(form.laborales.bonoincentivo,'Bono Incentivo')}}
                    </label>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  {{form_label(form.laborales.otros,'Otros')}}
                  {{ form_widget(form.laborales.otros,{'attr':{'class' : 'form-control'}}) }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                {{form_label(form.pruebasCaso,'Pruebas')}}
                {{ form_widget(form.pruebasCaso,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-2">
                <label for=""><h4><b>Datos del Demandado</b></h4></label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                {{form_label(form.nombreDemandado,'Patrono o Empresa')}}
                {{ form_widget(form.nombreDemandado,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                {{form_label(form.dirDemandado,'Dirección')}}
                {{ form_widget(form.dirDemandado,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                {{form_label(form.dirnotificacionDemandado,'Dirección de Notificación')}}
                {{ form_widget(form.dirnotificacionDemandado,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                {{form_label(form.telefonoDemandado,'Teléfono')}}
                {{ form_widget(form.telefonoDemandado,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-3">
                {{form_label(form.otroDemandado,'Otros')}}
                {{ form_widget(form.otroDemandado,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
           <hr>
           <div class="row">
             <div class="col-md-3">
               {{form_label(form.idEstudiante,'Nombre del Estudiante')}}
               {{ form_widget(form.idEstudiante,{'attr':{'class' : 'form-control'}}) }}
             </div>
             <div class="col-md-2">
               {{form_label(form.idPersona,'Nombre del Estudiante')}}
               {{ form_widget(form.idPersona,{'attr':{'class' : 'form-control'}}) }}
             </div>
           </div>
           <div class="row">
             <div class="col-md-3">
               {{form_label(form.idTribunal,'Tribunal')}}
               {{ form_widget(form.idTribunal,{'attr':{'class' : 'form-control'}}) }}
             </div>
             <div class="col-md-2">
               {{form_label(form.estadoCaso,'Estado del caso')}}
               {{ form_widget(form.estadoCaso,{'attr':{'class' : 'form-control'}}) }}
             </div>
           </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <button type="submit" name="Create" class="btn green">Crear</button>
              <a href="{{ path('casos_indexlaborales') }}"><button type="button" name="cancelar" class="btn default">Cancelar</button></a>
            </div>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
    {% if mensaje != null %}
        <h4> {{ mensaje }} </h4>
    {% endif %}
{% endblock %}
