{% extends 'base.html.twig' %}

{% block body %}
    <h1>Caso</h1>
    <table>
        <tbody>
            <tr>
                <th>Idcaso</th>
                <td>{{ caso.idCaso }}</td>
            </tr>
            <tr>
                <th>Nocaso</th>
                <td>{{ caso.noCaso }}</td>
            </tr>
            <tr>
                <th>Fechacaso</th>
                <td>{% if caso.fechaCaso %}{{ caso.fechaCaso|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Asunto</th>
                <td>{{ caso.asunto }}</td>
            </tr>
            <tr>
                <th>Nombre Demandante</th>
                <td>{{ caso.idDemandante.nombreDemandante }}</td>
            </tr>

            <tr>
                <th>Edad Demandante</th>
                <td>{{ caso.idDemandante.edadDemandante }}</td>
            </tr>
            <tr>
                <th>DPI Demandante</th>
                <td>{{ caso.idDemandante.dpiDemandante }}</td>
            </tr>
            <tr>
                <th>Cedula Demandante</th>
                <td>{{ caso.idDemandante.cedulaDemandante }}</td>
            </tr>
            <tr>
                <th>Direccion Demandante</th>
                <td>{{ caso.idDemandante.direccionDemandante }}</td>
            </tr>
            <tr>
                <th>Direccion de trabajo Demandante</th>
                <td>{{ caso.idDemandante.dirtrabajoDemandante }}</td>
            </tr>
            <tr>
                <th>Telefono Demandante</th>
                <td>{{ caso.idDemandante.telefonoDemandante }}</td>
            </tr>
            <tr>
                <th>Estado Civil Demandante</th>
                <td>{{ caso.idDemandante.idEstadocivil.estadocivil }}</td>
            </tr>
            <tr>
                <th>Trabajo Demandante</th>
                <td>{{ caso.idDemandante.idTrabajo.trabajo }}</td>
            </tr>
            <tr>
                <th>Ciudad Demandante</th>
                <td>{{ caso.idDemandante.idCiudad.ciudad }}</td>
            </tr>
            <tr>
                <th>Pruebascaso</th>
                <td>{{ caso.pruebasCaso }}</td>
            </tr>
            <tr>
                <th>Asignatario caso</th>
                <td>{{ caso.asignatarioCaso }}</td>
            </tr>
            <tr>
                <th>Estadocaso</th>
                <td>{{ caso.estadoCaso }}</td>
            </tr>
            <tr>
                <th>Nombre demandado</th>
                <td>{{ caso.nombreDemandado }}</td>
            </tr>
            <tr>
                <th>Dir demandado</th>
                <td>{{ caso.dirDemandado }}</td>
            </tr>
            <tr>
                <th>Dirnotificaciondemandado</th>
                <td>{{ caso.dirnotificacionDemandado }}</td>
            </tr>
            <tr>
                <th>Telefonodemandado</th>
                <td>{{ caso.telefonoDemandado }}</td>
            </tr>
            <tr>
                <th>Otrodemandado</th>
                <td>{{ caso.otroDemandado }}</td>
            </tr>
            <tr>
                <th>Nombre Estudiante</th>
                <td>{{ caso.idEstudiante.idPersona.nombrePersona }}</td>
            </tr>

            <tr>
                <th>Telefono Estudiante</th>
                <td>{{ caso.idEstudiante.idPersona.telefonoPersona }}</td>
            </tr>
            <tr>
                <th>Direccion Estudiante</th>
                <td>{{ caso.idEstudiante.idPersona.direccionPersona }}</td>
            </tr>
            <tr>
                <th>Carnet Estudiante</th>
                <td>{{ caso.idEstudiante.carneEstudiante }}</td>
            </tr>
            <tr>
                <th>Nombre Asesor</th>
                <td>{{ caso.idPersona.nombrePersona }}</td>
            </tr>
            <tr>
                <th>Telefono Asesor</th>
                <td>{{ caso.idPersona.telefonoPersona }}</td>
            </tr>
            <tr>
                <th>Del inicio de la relacion</th>
                <td>{% if caso.laborales.fechaInicio %}{{ caso.laborales.fechaInicio|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Del trabajo desempeñado</th>
                <td>{{ caso.laborales.idTrabajo.trabajo }}</td>
            </tr>
            <tr>
                <th>Del salario devengado</th>
                <td>{{ caso.laborales.salario }}</td>
            </tr>
            <tr>
                <th>Del la terminacion de la relacion laboral</th>
                <td>{% if caso.laborales.fechaFin %}{{ caso.laborales.fechaFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Vacaciones</th>
                <td>{{ caso.laborales.vaciones }}</td>
            </tr>
            <tr>
                <th>Indemnizacion</th>
                <td>{{ caso.laborales.indemnizacion }}</td>
            </tr>
            <tr>
                <th>Dias septimos</th>
                <td>{{ caso.laborales.diaseptimos }}</td>
            </tr>
            <tr>
                <th>Bono anual</th>
                <td>{{ caso.laborales.bonoanual }}</td>
            </tr>
            <tr>
                <th>Horas extraordinarias</th>
                <td>{{ caso.laborales.horasextra }}</td>
            </tr>
            <tr>
                <th>Bono incentivo</th>
                <td>{{ caso.laborales.bonoincentivo }}</td>
            </tr>
            <tr>
                <th>Dias de asueto</th>
                <td>{{ caso.laborales.diasasueto }}</td>
            </tr>
            <tr>
                <th>Aguinaldo</th>
                <td>{{ caso.laborales.aguinaldo }}</td>
            </tr>
            <tr>
                <th>Reajuste Salarial</th>
                <td>{{ caso.laborales.reajustesalarial }}</td>
            </tr>
            <tr>
                <th>Salarios Retenidos</th>
                <td>{{ caso.laborales.salariosretenidos }}</td>
            </tr>
            <tr>
                <th>Otros</th>
                <td>{{ caso.laborales.otros }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('casos_indexlaborales') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('casos_editlaboral', { 'idCaso': caso.idCaso }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
