{% extends 'layout.html.twig' %}
{% block act %} active {% endblock %}
{% block ac %} active {% endblock %}
{% block title %}
  <h1>Detalles</h1>
{% endblock %}
{% block body %}
      <div class="portlet-body">
        <div id="sample_1_wrapper" class="dataTable_wrapper table-responsive">
          <div class="col-md-12">
          <table  class="table  table-bordered ">
              <tbody>
                <tr>
                  <td ><h5><b>Lugar y Fecha</b></h5></td>
                  <td>{{ caso.idDemandante.idCiudad.ciudad }}, {{ caso.idDemandante.idCiudad.idDepartamento.departamento}}, {% if caso.fechaCaso %}{{ caso.fechaCaso|date('Y-m-d') }}{% endif %}</td>
                  <td><h5><b>Número de caso</b></h5></td>
                  <td>{{ caso.noCaso }}</td>
                </tr>
              </tbody>
          </table>

          <table>
            <tr>
              <a href="{{ path('casos_indexciviles') }}" class="btn default">Regresar</a>
            </tr>
            <tr>
              <a href="{{ path('casos_editcivil', { 'idCaso': caso.idCaso }) }}" class="btn blue">Editar</a>
            </tr>
          </table>

          </div>
        </div>
      </div>
{% endblock %}
