{% extends 'layout.html.twig' %}
{% block act %} active {% endblock %}
{% block ac %} active {% endblock %}
{% block title %}
  <h1>Detalles</h1>
{% endblock %}
{% block body %}
      <div class="portlet-body">
        <div class="col-md-offset-2">
          <div class="row">
            <div class="col-md-10">
              <table  class="table  table-bordered ">
                  <tbody>
                    <tr>
                      <td ><h5><b>Lugar y Fecha</b></h5></td>
                      <td >{{ caso.idDemandante.idCiudad.ciudad }}, {{ caso.idDemandante.idCiudad.idDepartamento.departamento}}, {% if caso.fechaCaso %}{{ caso.fechaCaso|date('Y-m-d') }}{% endif %}</td>
                      <td><h5><b>Número de caso</b></h5></td>
                      <td>{{ caso.noCaso }}</td>
                    </tr>
                    <tr>
                      <td ><h5><b>Asunto</b></h5></td>
                      <td colspan="3">{{ caso.asunto }}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td colspan="3"><h2><b>Datos de Identificación Personal del Actor</b></h2></td>
                    </tr>
                    <tr>
                      <td><h5><b>Nombre</b></h5></td>
                      <td>{{ caso.idDemandante.nombreDemandante }}</td>
                      <td><h5><b>DPI</b></h5></td>
                      <td>{{ caso.idDemandante.dpiDemandante }}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
