{% extends 'base.html.twig' %}

{% block body %}
    <h1>Infofinal edit</h1>

    <a href="{{ asset ('uploads/final/'~infofinal.rutaInfo) }}" download>
        <img src="{{ asset ('uploads/final/pdf.png')}}" width="28" height="30">
        {{ asset (infofinal.rutaInfo) }}
    </a>

    {{ form_start(edit_form, {'enctype':'multipart/form-data'}) }}
        {{ form_widget(edit_form) }}



        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('infofinal_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
