{% extends 'layout.html.twig' %}
{% block act2 %} active {% endblock %}
{% block ac7 %} active {% endblock %}
{% block title %}
  <h1>Listado de Estados Civiles</h1>
{% endblock %}
{% block body %}
<div class="portlet-body">
    <div class="row">
      <div class="col-md-6">
        <div class="btn-group">
          <form method="get" action="" class="form-inline" role="search">
            <div class="form-group">
              <input type="text" name="query" value="{{ app.request.get('query') }}" class="form-control" placeholder="Buscar"  />
            </div>
            <input type="submit" value="Buscar" class="btn btn-default">
          </form>
                  <a href="{{ path('estadosciviles_new') }}">
                    <button id="sample_editable_1_new" class="btn green">
                      Agregar Estado Civil <i class="fa fa-plus"></i>
                    </button></a>

        </div>
      </div>


  <div class="col-md-12 col-sm-12 col-xs-6">
      <table class="table table-bordered">
        <thead>
          <tr role="row" class="">
            <th>Estado civil</th>
            <th>Estado</th>
            <th>opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for estadoscivile in estadosciviles %}
          <tr>
              <td>{{ estadoscivile.estadocivil }}</td>
              <td>{% if estadoscivile.estadoEstadocivil %}Activo{% else %}No{% endif %}</td>
              <td>
                <a href="{{ path('estadosciviles_show', { 'idEstadocivil': estadoscivile.idEstadocivil }) }}" class="btn yellow" >Ver</a>
                <a href="{{ path('estadosciviles_edit', { 'idEstadocivil': estadoscivile.idEstadocivil }) }}" class="btn blue ">Editar</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
</div>
<div class="navigation text-center">
    {{ knp_pagination_render(estadosciviles) }}
</div>
{% endblock %}
