{% extends 'layout.html.twig' %}
      {% block title %}
        <h1>Crear Estado Civil</h1>
      {% endblock %}

{% block body %}
    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(form,{'attr':{'role':'form'}}) }}
        <div class="form-body colorform">
          <div class="col-md-offset-4">
          <div class="form-group ">
            <div class="col-md-5">
              {{form_label(form.estadocivil,'Nombre')}}
              {{ form_widget(form.estadocivil,{'attr':{'class' : 'form-control'}}) }}
            </div>
          </div>
          <div class="form-group ">
            <div class="col-md-5">
              {{form_label(form.estadoEstadocivil,'Estado')}}
              {{ form_widget(form.estadoEstadocivil,{'attr':{'class' : 'form-control'}}) }}
            </div>
          </div>
        </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-4 col-md-9">
              <button type="submit" name="Create" class="btn green">Crear</button>
              <a href="{{ path('estadosciviles_index') }}"><button type="button" name="cancelar" class="btn default">Cancelar</button></a>
            </div>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>

{% endblock %}
