{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estadoscivile</h1>

    <table>
        <tbody>
            <tr>
                <th>Idestadocivil</th>
                <td>{{ estadoscivile.idEstadocivil }}</td>
            </tr>
            <tr>
                <th>Estadocivil</th>
                <td>{{ estadoscivile.estadocivil }}</td>
            </tr>
            <tr>
                <th>Estadoestadocivil</th>
                <td>{% if estadoscivile.estadoEstadocivil %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estadosciviles_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('estadosciviles_edit', { 'idEstadocivil': estadoscivile.idEstadocivil }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
