{% extends 'layout.html.twig' %}
{% block act %} active {% endblock %}
{% block ac14 %} active {% endblock %}

{% block title %}
  <h1>Listado de Bufetes</h1>
{% endblock %}

{% block body %}
<div class="portlet box red-pink">
  <div class="portlet-body">
    <div class="row">
      <div class="col-md-4">
        <form method="get" action="" class="form-inline" role="search">
          <div class="form-group">
            <input type="text" name="query" value="{{ app.request.get('query') }}" class="form-control" placeholder="Buscar"  />
          </div>
          <input type="submit" value="Search" class="btn btn-default">
        </form>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <a href="{{ path('bufetes_new') }}">
											<button id="sample_editable_1_new" class="btn green">
											Agregar Bufete <i class="fa fa-plus"></i>
											</button></a>
										</div>
      </div>

<div class="col-md-12 col-sm-12 col-xs-6" >
    <table class="table table-bordered ">
        <thead>
            <tr role="row" class="">
                <th>Id bufete</th>
                <th>Nombre </th>
                <th>Telefono1 </th>
                <th>Telefono2</th>
                <th>Correo Electrónico</th>
                <th>Direccion </th>
                <th>Estado </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for bufete in bufetes %}
            <tr>
                <td><a href="{{ path('bufetes_show', { 'idBufete': bufete.idBufete }) }}">{{ bufete.idBufete }}</a></td>
                <td>{{ bufete.nombreBufete }}</td>
                <td>{{ bufete.telefono1Bufete }}</td>
                <td>{{ bufete.telefono2 }}</td>
                <td>{{ bufete.emailBufete }}</td>
                <td>{{ bufete.direccionBufete }}</td>
                <td>{{ bufete.estadoBufete }}</td>
                <td>
                    <a href="{{ path('bufetes_show', { 'idBufete': bufete.idBufete }) }}" class="btn yellow">Ver</a>
                    <a href="{{ path('bufetes_edit', { 'idBufete': bufete.idBufete }) }}" class="btn blue">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

  </div>
  </div>
</div>
{% endblock %}
