{% extends 'layout.html.twig' %}
{% block title %}
  <h1>Listado de Bufetes</h1>
{% endblock %}

{% block body %}
<div class="portlet box red-pink">
  <div class="portlet-body">
    <div class="row">
      <div class="col-md-6">
        <div class="btn-group">
          <a href="{{ path('bufetes_new') }}">
											<button id="sample_editable_1_new" class="btn green">
											Agregar Bufete <i class="fa fa-plus"></i>
											</button></a>
										</div>
      </div>
    </div>
<div id="sample_1_wrapper" class="dataTable_wrapper table-responsive">
    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
            <tr role="row" class="">
                <th>Id bufete</th>
                <th>Nombre </th>
                <th>Telefono1 </th>
                <th>Telefono2</th>
                <th>Correo Electrónico</th>
                <th>Direccion </th>
                <th>Estado </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for bufete in bufetes %}
            <tr>
                <td><a href="{{ path('bufetes_show', { 'idBufete': bufete.idBufete }) }}">{{ bufete.idBufete }}</a></td>
                <td>{{ bufete.nombreBufete }}</td>
                <td>{{ bufete.telefono1Bufete }}</td>
                <td>{{ bufete.telefono2 }}</td>
                <td>{{ bufete.emailBufete }}</td>
                <td>{{ bufete.direccionBufete }}</td>
                <td>{{ bufete.estadoBufete }}</td>
                <td>
                    <a href="{{ path('bufetes_show', { 'idBufete': bufete.idBufete }) }}" class="btn blue">Ver</a>
                    <a href="{{ path('bufetes_edit', { 'idBufete': bufete.idBufete }) }}" class="btn btn-warning">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

  </div>
</div>
{% endblock %}
