{% extends 'layout.html.twig' %}
{% block title %}
  <h1>Detalles</h1>
{% endblock %}
{% block body %}
      <div class="portlet-body">
        <div id="sample_1_wrapper" class="dataTable_wrapper table-responsive">
          <div class="col-md-5">
          <table class="table table-striped table-bordered table-hover dataTable no-footer">
              <tbody>
                <tr>
                    <th>Id bufete</th>
                    <td>{{ bufete.idBufete }}</td>
                </tr>
                <tr>
                    <th>Nombre:</th>
                    <td>{{ bufete.nombreBufete }}</td>
                </tr>
                <tr>
                    <th>Teléfono 1:</th>
                    <td>{{ bufete.telefono1Bufete }}</td>
                </tr>
                <tr>
                    <th>Teléfono 2:</th>
                    <td>{{ bufete.telefono2 }}</td>
                </tr>
                <tr>
                    <th>Correo Electrónico:</th>
                    <td>{{ bufete.emailBufete }}</td>
                </tr>
                <tr>
                    <th>Direccion:</th>
                    <td>{{ bufete.direccionBufete }}</td>
                </tr>
                <tr>
                    <th>Estado:</th>
                    <td>{{ bufete.estadoBufete }}</td>
                </tr>
              </tbody>
          </table>
          <table>
            <tr>
              <a href="{{ path('bufetes_index') }}" class="btn default">Regresar</a>
            </tr>
            <tr>
              <a href="{{ path('bufetes_edit', { 'idBufete': bufete.idBufete }) }}" class="btn blue">Editar</a>
            </tr>
            <tr>
              {{ form_start(delete_form) }}
                  <button type="submit" class="btn  red" name="Delete">Eliminar</button>
              {{ form_end(delete_form) }}
            </tr>
          </table>
        </div>
        </div>
      </div>
{% endblock %}
