{% extends 'layout.html.twig' %}
{% block act %}
  active
{% endblock %}
{% block ac2 %}
  active
{% endblock %}

{% block title %}
  <h1>Listado de Departamentos</h1>
{% endblock %}
{% block body %}
  <div class="portlet-body">
    <div class="row">
      <div class="col-md-2">
        <form method="get" action="" class="form-inline" role="search">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="submit" name="buscar" class="btn btn-effect-ripple btn-info">
                <i class="fa fa-search"></i>
              </button>
            </span>
            <input type="text" name="query" value="{{ app.request.get('query') }}" class="form-control" placeholder="Buscar"/>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="btn-group">
          <a href="{{ path('departamentos_new') }}">
            <button id="sample_editable_1_new" class="btn green">
              Agregar Departamento
              <i class="fa fa-plus"></i>
            </button>
          </a>
        </div>
      </div>
      <br>
      <br>

      <div class="col-md-12 col-sm-12 col-xs-6">
        <table class="table table-bordered ">
          <thead>
            <tr role="row" class="">
              <th>Nombre</th>
              <th>Pais</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for departamento in departamentos %}
              <tr>
                <td>{{ departamento.departamento }}</td>
                <td>{{ departamento.idPais.pais }}</td>
                <td>
                  <a href="{{ path('departamentos_show', { 'idDepartamento': departamento.idDepartamento }) }}" class="btn yellow ">Ver</a>
                  <a href="{{ path('departamentos_edit', { 'idDepartamento': departamento.idDepartamento }) }}" class="btn blue">Editar</a>
                </td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
