{% extends 'layout.html.twig' %}
      {% block title %}
        <h1>Editar Tipo de Caso</h1>
      {% endblock %}

{% block body %}
    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(edit_form,{'attr':{'role':'form'}}) }}
        <div class="form-body">
          <div class="col-md-offset-2">
            <div class="form-group ">
              <div class="col-md-5">
                {{form_label(edit_form.tipo,'Nombre')}}
                {{ form_widget(edit_form.tipo,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="form-group ">
              <div class="col-md-5">
                {{form_label(edit_form.estadoTipo,'Estado')}}
                {{ form_widget(edit_form.estadoTipo,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
        </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <button type="submit" name="Editar" class="btn green">Editar</button>
              <a href="{{ path('tipocaso_index') }}"><button type="button" name="cancelar" class="btn default">Cancelar</button></a>
            </div>
          </div>
        </div>
        {{ form_end(edit_form) }}
      </div>
    </div>

{% endblock %}
