{% extends 'layout.html.twig' %}

{% block act2 %}
active open
{% endblock %}

{% block ac5 %}
active
{% endblock %}

      {% block title %}
        <h1>Editar Trabajo</h1>
      {% endblock %}

{% block body %}
    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(edit_form,{'attr':{'role':'form'}}) }}
        <div class="form-body">
          <div class="col-md-offset-2">
            <div class="form-group ">
              <div class="col-md-5">
                {{form_label(edit_form.trabajo,'Nombre')}}
                {{ form_widget(edit_form.trabajo,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="form-group ">
              <div class="col-md-4">
                <label class="cr-styled">
                    {{ form_widget(edit_form.estadoTrabajo)}}
                    <i class="fa"></i>
                    {{form_label(edit_form.estadoTrabajo,'Estado')}}
                </label>
              </div>
            </div>
        </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-9">
              <button type="submit" name="Editar" class="btn green">Editar</button>
              <a href="{{ path('trabajos_index') }}"><button type="button" name="cancelar" class="btn default">Cancelar</button></a>
            </div>
          </div>
        </div>
        {{ form_end(edit_form) }}
      </div>
    </div>

{% endblock %}
